<section class="slide__content u-left">
  <h2 class="u-left">Know Your Business' Goals</h2>
  <br />
  <br />
  <ul class="u-left">
    <li><p><b>Business KPIs</b></p></li>
    <li><p><b>Opportunity Assessment (Inspired)</b></p></li>
    <li><p><b>Stakeholder Analysis (Just Enough Research)</b></p></li>
    <li><p><b>Stakeholder Interviews</b></p></li>
  </ul>
</section>
