<section class="slide__content u-center">
  <h2>Some People Fear Change</h2>
  <br />
  <br />
  <img src="/images/fear-change.gif" alt="Unfinished" width="650px" style="margin:0 auto 2em;" />
</section>
