<section class="slide__content u-center">
    <h2>Some People Love Change</h2>
    <br />
    <br />
    <img src="/images/change-everything.jpg" alt="Unfinished" width="650px" style="margin:0 auto 2em;" />
</section>
