<section class="slide__content template--quote">
  <div class="blockquote__image">
    <img src="/images/just-enough.jpg" alt="just enough" id="ddd-eu" />
  </div>
  <blockquote>
    "Asking Often Takes More Courage Than Sticking With Comfortable Assumptions."
    <p class="blockquote__author">Erika Hall from Just Enough Research</p>
  </blockquote>
</section>
