<section class="slide__content u-center">
  <div class="grid grid-2col">
    <div>
      <h2>Don't</h2>
      <h1>Act</h1>
      <h2>On Personal Experiences</h2>
    </div>
    <div>
      <h2>Be</h2>
      <h1>Inspired</h1>
      <h2>By Personal Experiences</h2>
    </div>
  </div>
</section>
