<section class="slide__content u-left">
  <h2>Learning About Our Customers</h2>
  <br />
  <br />
  <div>
    <ul>
      <li><p><b>Regularly Talking With Customer Service</b></p></li>
      <li><p><b>Work Once A Month in Customer Service</b></p></li>
      <li><p><b>Multi Department Customer Interviews</b></p></li>
    </ul>
  </div>
</section>
