<section class="slide__content u-center">
  <img src="/images/too-small.gif" width="550px" style="margin: 0 auto;" alt="Too Small" />
  <h2>There Is No Touch Point</h2>
  <h1>Too Small</h1>
</section>
