<section class="slide__content template--quote-alt">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <div class="number"><h1>3</h1></div>
    </div>
  </div>
  <blockquote>
    <h2>Advocate for Stradgey and Principles </h2>
    <p class="blockquote__author">Not Advocating for Solutions</p>
  </blockquote>
</section>
