<section class="slide__content template--quote-alt">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <div class="number"><h1>5</h1></div>
    </div>
  </div>
  <blockquote>
    <h2>Customer Centered is Customer Driven</h2>
    <p class="blockquote__author">You cannot have customer advocatcy without listening and empathy.</p>
  </blockquote>
</section>
