<section id="principle-6" class="slide__content template--quote-alt">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <div class="number"><h1>6</h1></div>
    </div>
  </div>
  <blockquote>
    <h2>Customer Advocates<br />Influence Every Level Of Your<br />Organization</h2>
  </blockquote>
</section>
