<section class="slide__content template--quote-alt">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <div class="number"><h1>1</h1></div>
    </div>
  </div>
  <blockquote>
    <h2>Great Customer Advocates Create Other Advocates</h2>
    <p class="blockquote__author">Lone Wolf Inititives Fail and Die Tragic Deaths</p>
  </blockquote>
</section>
