<section id="principle-4" class="slide__content template--quote-alt">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <div class="number"><h1>2</h1></div>
    </div>
  </div>
  <blockquote>
    <h2>Customer Advocates<br />Are Influenced By Their<br />Own Experiences As Customers</h2>
  </blockquote>
</section>
