<section id="principle-5" class="slide__content template--quote-alt">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <div class="number"><h1>5</h1></div>
    </div>
  </div>
  <blockquote>
    <h2>Customer Advocates<br />Match Their Business Needs<br />with Customer Needs</h2>
    <p class="blockquote__author"></p>
  </blockquote>
</section>
