<section class="slide__content template--quote-alt">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <div class="number"><h1>7</h1></div>
    </div>
  </div>
  <blockquote>
    <h2>Improve the Customer Touch Points That Are Within Your Control</h2>
    <p class="blockquote__author">You can start tracking, measuring and improving the customer experience that you are responsible for.</p>
  </blockquote>
</section>
