<section class="slide__content u-left">
  <h2>Tips For Talking Through CX Solutions</h2>
  <br />
  <br />
  <ul class="u-left">
    <li><p><b>Clearly identify each customer problem before introducing solutions</b></p></li>
    <li><p><b>Start with relatively small problems</b></p></li>
    <li><p><b>Scope each customer problem within the whole user journey</b></p></li>
    <li><p><b>Always emphasize customer validation</b></p></li>
  </ul>
</section>
