<section class="slide__content">
  <h3>Key Activities/Features</h3>
  <br />
  <ul>
    <li>Presenters <b class="highlight">directly profiting</b> from their talks through talk tickets or ad sponsors</li>
    <li>Leaners accessing <b class="highlight">premium conference talks</b> online on a wide range of subjects</li>
    <li>Allow speakers to engadge their audience with real-time interactive features called "<b class="highlight">Talk Engagments</b>" </li>
  </ul>
</section>
