<section  id="4" class="slide__content">
  <h3>Customer Advacates:</h3>
  <br />
  <ul>
    <li>Understand thier customer's journey.</li>
    <li>Desire to pair orginizaional needs with customer needs.</li>
    <li>Always learning about their customers and the orginizatiion's impact of them.</li>
    <li>Willing to help supportpositive customer experience</li>
  </ul>
</section>
