<section class="slide__content">
  <div>
    <h3>talk en·​gage·​ment </h3>
    <p>a tool that allows speaker to recive different type direct responses from the audience</p>
    <br />
    <br />
    <div class="grid grid-3col grid--center">
      <img src="/images/poll-audience.jpg" alt="Live Deck Dill" />
      <img src="/images/darw-on-screen.jpg" alt="Live Deck Dill" />
    </div>
  </div>

</section>
