<section class="slide__content template--full-image">
  <img src="/images/teamgaslight.jpg" alt="Team Gaslight"/>

  <div class="template__content">
    <h3>Beau Heubach with Gaslight</h3>
    <p>Gaslight is a custom development and UX consultant agency in Cincinnati Oh.<br /> teamgaslight.com</p>
  </div>
</section>
