<section class="slide__content template--full-image">
  <img src="/images/teamgaslight.jpg" alt="Team Gaslight"/>

  <div class="template__content">
    <h3>Beau Heubach with Gaslight</h3>
    <p>beau@teamgaslight.com<br /> Twitter: rheubach<br /> LinkedIn: Beau Heubach</p>
  </div>
</section>
